html {
	font-family: 'Arial';
	background-image: url(../img/html-bg.jpg);
}

/* cabecalho */
.banner {
	background-image: url(../img/banner.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	border: 1px solid white;
}

.banner h1 {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 5em;
	padding-top: 10px;
	margin-bottom: 20px;
}

.menu {
	height: 25px;
	padding: 10px 260px;
}

.menu a {
	text-decoration: none;
	padding: 5px 50px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 10px;

}

/* Corpo do site */
.principal {
	font-size: 1.5em;
	color: white;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0px 15%;
	box-shadow: 0px 25px 50px white;
}

/* hovers */
.menu a:hover {
	transition: .5s;
	box-shadow: 0px 2px 5px white inset;
}