html {
	font-family: 'Arial';
	background-image: url(../img/html-bg.jpg);
}

/* cabecalho */
.banner {
	background-color: rgba(255, 255, 255, 0.3);
	width: 100%;
	border: 1px solid white;
}

.banner h1 {
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 5em;
	padding-top: 10px;
	margin-bottom: 20px;
}

.menu {
	height: 25px;
	padding: 10px 260px;
}

.menu a {
	text-decoration: none;
	padding: 5px 50px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;

}

/* Corpo do site */
.principal {
	font-size: 1.5em;
	color: white;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 0px 15%;
}

.principal p {
	text-align: justify;
}

/* hovers */
.menu a:hover {
	transition: .5s;
	background-color: rgba(255, 255, 255, 0.6);
}

@media(max-width: 1024px) {
	.menu {
		padding: 10px 100px;
	}
}

@media(max-width: 768px) {
	.menu {
		padding: 10px 1px;
		font-size: 0.8em;
	}

	.principal {
		font-size: 1.3em;
	}
}

@media(max-width: 425px) {
	.menu {
		font-size: 0.5em;
		margin: 0;
	}

	.principal {
		font-size: 1em;
	}

	.menu a {
		padding: 5px 25px;
	}
}

@media(max-width: 375px) {
	.menu a {
		padding: 3px 19px;
	}

	.principal {
		font-size: 0.8em;
	}
}

@media(max-width: 320px) {
	.menu a {
		padding: 3px 12px;
	}

	.principal {
		font-size: 0.8em;
	}
}