html {
	font-family: 'Arial';
	background-image: url(../img/html-bg.jpg);
	background-position: center;
	background-size: cover;
}

/* Titulo principal */
section h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 0.5%;
	width: 50%;
	height: 5%;
	margin: 10px 200px;
	border-bottom: thin solid white;
}

/* alinhando conteudo tag main */
main {
	align-content: center;
}

/* secao que acopla todo o conteudo */
#principal {
	font-size: 1.1em;
	position: relative;
	left: 350px;
	width : 700px;
	height: 400px;
	border: 1px solid black;
	top: 10px;
	border-radius: 20px;
	background-color: rgba(128, 128, 128, 0.4);
}

/* descricao do curriculo */
.descricao {
	top: 35px;
	margin: 20px 500px 20px 20px;
	position: absolute;
	width: 300px;
	height: 100px;
}

.descricao p {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 30px;
	padding: 15px;
	box-shadow: 10px 10px 20px;
}

/* foto do curriculo */
.foto {
	background-image: url('../img/perfil.jpg');
	height: 200px;
	width: 200px;
	background-position: center;
	background-size: cover;
	float: right;
	margin: 50px 40px;
	border-radius: 50%;
	box-shadow: 10px 20px 20px;
}

/* menu de navegacao */
#menu {
	position: relative;
	width: 700px;
	left: 350px;
}

#menu a {
	color: black;
	margin-left: 30px;
	text-align: center;
	display: block;
	font-size: 3.5em;
	width: 600px;
	padding: 10px 20px;
	background-color: #ffbb00;
	margin-top: 15px;
	margin-bottom: 15px;
	text-decoration: none;
	border-radius: 10px;
	border: 1px solid white;
	box-shadow: 5px 10px 10px white inset;
	background-color: rgba(255, 255, 255, 0.3);

}

/* hovers */
.descricao:hover {
	transition: .5s;
	top: 30px;
}

.descricao p:hover {
	transition: .5s;
	box-shadow: 5px 5px 20px white;
}

.foto:hover {
	transition: .5s;
	box-shadow: 5px 5px 20px white;
	margin-top: 45px;
}

#menu a:hover {
	transition: .5s;
	width: 660px;
	margin-left: 2px;
	box-shadow: 5px 5px 20px white;
	background-color: rgba(255, 255, 255, 0.8);
}

/* Responsividade */
@media (max-width: 1024px) {
	section h1 {
		margin: 10px 120px;
	}

	#principal {
		left: 270px;
		width: 500px;
		height: 700px;
	}

	.foto {
		margin-right: 150px;
		margin-top: 20px;
	}

	.foto:hover {
	transition: .5s;
	box-shadow: 5px 5px 20px white;
	margin-top: 5px;
	}

	.descricao {
		top: 310px;
		left: 80px;
	}

	.descricao:hover {
	top: 280px;
	}

	#menu {
		left: 280px;
		width: 450px;
	}

	#menu a {
		width: 380px;
	}

	#menu a:hover {
		width: 440px;
	}
}

@media (max-width: 768px) {
	#principal {
		left: 150px;
	}

	#menu {
		left: 150px;
	}

	#menu {
		left: 160px;
	}
}

@media (max-width: 425px) {
	#principal {
		left: 2px;
	}

	#menu {
		left: 20px;
	}
}
